.about-information-container {
    width: 680px;
    position: relative;
    right: -268px;
    top: 141px;
}

.toolbox-section {
    float: right;
    color: white;
}

.text-section {
    float: left;
    width: 40%;
}

.about-header{
    color: white;
    position: relative;
    right: 0px;
}

.toolbox-list {
    list-style: none;
}