.about-information-container {
    width: 1150px;
    height: 625px;
    position: relative;
    right: -290px;
    top: 60px;
    border-top: solid white;
}

.toolbox-section {
    margin-right: 14%;
    width: 20%;
    margin-left: auto;
    color: white;
    position: relative;
    top: -756px;
}


.text-section {
    margin-left: 14%;
    width: 40%;
    font-size: 25px;
}

.text-header{
    color: white;
    position: relative;
    right: 0px;
    font-size: 40px;
}

.toolbox-list {
    display: block;
    position: relative;
    right: 28px;
}

.skill-section {
    margin-right: 14%;
    width: 20%;
    margin-left: auto;
    color: white;
    position: relative;
    top: -756px;
}
.skillset-list {
    display: block;
    position: relative;
    right: 27px;
}

.toolbox-list-item {
    color: white;
    // height: 20px;
    width: 40px;
    font-size: 25px;
    align-items: center;
    position: relative;
    right: -75px;
    top: -10px;
}

.toolbox-title {
    font-size: 40px;
}

.toolbox-skill-item {
    color: white;
    // height: 20px;
    width: 40px;
    font-size: 25px;
    align-items: center;
    position: relative;
    right: -75px;
    top: -10px;
}

.skill-title {
    font-size: 40px;
}

.about-header{
    color: white;
    position: relative;
    font-weight: lighter;
    right: -348px;
    bottom: -80px;
    font-size: 50px;
}