.App {
  text-align: center;
  width: 980px;
  /* height: 1080px; */
}

body {
  background-image: url('https://images.unsplash.com/photo-1559682659-ac246b6dc6e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80')
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.style-div {
  box-shadow: 0px 0px  0px 5000px rgba(0,0,0,0.8);
}


