nav {
    position: relative;
    top: 39px;
    width: 100%;
    margin: auto;
}

ul {
    margin-left: 10%;
    margin-right: 10%;
}
.navbar-link {
    display: inline;
    z-index: 110;

}

a {
    padding: 0px 137px;
    font-size: 30px;
    color: white;
    z-index: 110;
}
