nav {
    position: relative;
    top: 39px;
    width: 80%;
}

ul {
    margin-left: 10%;
    margin-right: 10%;
}
li {
    display: inline;
}

a {
    padding-right: 21%;
    font-size: 30px;
    color: white;
}
